@rendermode InteractiveServer
@inject LoginUseCase loginUseCase
@inject ISesionUsuario sesion
@inject VerificarPermisosUseCase verificarPermiso
@inject NavigationManager Navigation


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CentroEventos.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (sesion.UsuarioId == null)
        {
             <div class="nav-item px-3">
                <input @bind="email" placeholder="Email" />
                <input @bind="password" type="password" placeholder="Contraseña" />
                <button @onclick="IniciarSesion">Iniciar Sesión</button>
                @if (!string.IsNullOrEmpty(mensaje))
                {
                    <div class="alert alert-danger">@mensaje</div>
                }
            </div>
        }
        else
        {  
            <div class="nav-item px-3">
            <p style="color: white;"> Bienvenido @sesion.Nombre</p>
            <button @onclick="CerrarSesion">Cerrar Sesión</button>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="perfilUsuario">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mi Perfil
                </NavLink>
            </div>
            
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="eventosDisponibles">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Eventos Disponibles
                    </NavLink>
                </div>

                @if (verificarPermiso.Ejecutar(sesion.UsuarioId.Value, Permiso.UsuarioAlta))
                {
                    <div class="nav-item px-3">
                    <NavLink class="nav-link" href="solicitudesUsuario">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Solicitudes Usuario
                    </NavLink>
                    </div>
                }

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gestionUsuarios">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestion Usuarios
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="crearEvento">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Crear Evento
                    </NavLink>
                </div>
       
    
        }
    </nav>
</div>



@code {
    private string email = "";
    private string password = "";
    private string? mensaje;

    private void IniciarSesion()
    {
        if (loginUseCase.Ejecutar(email, password))
        {
            mensaje = null;
            Navigation.NavigateTo("/temp");
        }
        else
        {
            password = string.Empty;
            mensaje = "Credenciales inválidas.";
        }
    }

    private void CerrarSesion()
    {
        sesion.CerrarSesion();
        email = string.Empty;
        password = string.Empty;
        Navigation.NavigateTo("/temp");
    }
}