@page "/"

@inject NavigationManager Navigation

    <div class="mb-3">
        <label>Email:</label>
        <input class="form-control" @bind="Email" />
    </div>

    <div class="mb-3">
        <label>Contraseña:</label>
        <input type="password" class="form-control" @bind="Pass" />
    </div>

    <button class="btn btn-primary" @onclick= "IniciarSesion" >Iniciar Sesión</button>


<p class="mt-3">
    ¿No tenés una cuenta? 
    <a href="/registro">Registrate aquí</a>
</p>

@code {
    private string? Email;
    private string? Pass;

    void IniciarSesion()
    {
        // Acá usarías login.Email y login.Contrasena
        Console.WriteLine($"Intento de login: {Email} - {Pass}");

        // redirigir si login exitoso
        Navigation.NavigateTo("/menu"); // ejemplo
    }

}