@rendermode InteractiveServer
@inject ISesionUsuario sesion

@if (visible && usuario != null)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>Cambiar contraseña</h3>

            <div class="mb-3">
                <label>Nueva contraseña:</label>
                <input class="form-control" @bind="contraNueva" />
            </div>

            <div class="mb-3">
                <label>Contraseña vieja:</label>
                <input type="password" class="form-control" @bind="contraVieja" />
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary me-2" @onclick="Cerrar">Cancelar</button>
                <button class="btn btn-primary" @onclick="CerrarYConfirmar">Guardar</button>
            </div>
        </div>
    </div>
}

@code {
    private bool visible = false;
    private Usuario? usuario;

    private string contraNueva = "";
    private string contraVieja = "";

    [Parameter] public EventCallback OnConfirmado { get; set; }

    [Inject] public ObtenerUsuarioUseCase ObtenerUsuarioUseCase { get; set; } = null!;
    [Inject] public CambiarContrasenaUseCase cambiarContrasena { get; set; } = null!;

    public void Mostrar(int idUsuario)
    {
        usuario = ObtenerUsuarioUseCase.Ejecutar(idUsuario, sesion.UsuarioId!.Value);
        visible = true;
        StateHasChanged();
    }

    void Cerrar()
    {
        visible = false;
    }

    void CerrarYConfirmar()
    {
        if (usuario != null)
        {
            cambiarContrasena.Ejecutar(sesion.UsuarioId!.Value, contraNueva,contraVieja);
            OnConfirmado.InvokeAsync();
        }
        visible = false;
    }
}